* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body { 
  background: url("./assets/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Times New Roman", Times, serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}